<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Login page </title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
		<style>
			body {
				margin: 20px;
			}
			form {
				max-width: 800px;
				margin: auto;
				min-height: 400px;
			}
		</style>
    </head>
    <body>
		<div class="col-md-4 col-md-offset-4">
			<h2>Please sign-in</h2>
			<div class="alert alert-danger" th:if="${param.error}">Invalid username or password.</div>
			<div class="alert alert-warning" th:if="${param.logout}">You have been logged out.</div>
			<form th:action="@{/login}" method="post">
				<div><label> User Name : <input type="text" name="username" class="form-control" /></label></div>
				<div><label> Password: <input type="password" name="password" class="form-control" /></label></div>
				<div>
					<input type="submit" value="Sign In" class="btn btn-primary" />
					<a class="btn btn-secondary" th:href="@{/signup}">New user?</a>
					<a class="btn btn-secondary" href="forgotpassword">Forgot password?</a>
				</div>
			</form>
		</div>
 	</body>
</html>